page-register {
	.logo{
		text-align: center;
		margin: 25px 0;
		img{
			max-height: 100px;
			//width: 200px;
		}
	    
	}

	.custom-button{
    	height: 2.3em;
    	margin: 1.4rem 0.2rem;
	}

	.checkmark-custom{
    	font-size:2.5rem
	}

	.upload-image-btn{
	    position: absolute;
	    bottom: 32px;
	    margin-left: 28%;
        color: white;
	}

	.upload-image{
		display:block;
	    margin:0 auto;
	}
}
