
page-infrastructure {

 .custom-bagde-footer {    
	width: 16px;
	height: 16px;
	padding: 3px 3px;
	font-size: 8px;
	top: 2%;
	right: 30%;
	position: absolute;
	border-radius: 16px;
 }

 .segment .segment-button{
	opacity:1 !important;
	background: white;
 }

 .back-btn .back-icon {
	font-size: 2.7rem;
 }
 
}


