<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923605746593-62kp4f13eipfl68dd6j3oh9tosugdkq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923605746593-62kp4f13eipfl68dd6j3oh9tosugdkq4</string>
	<key>API_KEY</key>
	<string>AIzaSyABhjISlakoKKRXfBaSm-2PuiVm5u1hT3E</string>
	<key>GCM_SENDER_ID</key>
	<string>923605746593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.velvet.fm</string>
	<key>PROJECT_ID</key>
	<string>velvetfm-187311</string>
	<key>STORAGE_BUCKET</key>
	<string>velvetfm-187311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923605746593:ios:88cd1ce354378b3f</string>
	<key>DATABASE_URL</key>
	<string>https://velvetfm-187311.firebaseio.com</string>
</dict>
</plist>