 
 page-list-requests {
    .custom-bagde-footer {    
        width: 16px;
        height: 16px;
        padding: 5px 3px;
        font-size: 8px;
        top: 5%;
        right: 13%;
        position: absolute;
        border-radius: 16px;
    }

    .segment .segment-button{
        opacity:1 !important;
        background: white;
    }
}