page-documents-result {
	
	.custom-bagde {    
	    width: 16px;
	    height: 16px;
	    padding: 1px 4px;
	    font-size: 13px;
	    top: -3px;
	    right: -2px;
	    border-radius: 100%;
	    background-color: #F90000;
	    position: absolute;
	}

	.custom-btn {    
		color: #8E2931;
	}

	.toolbar-title {
	  text-align:center;
	}
}
