page-edit {
	
	.profile-footer .button {
    height: auto;
    width: 50%;
    padding:  10px 0px;
    float: left;
    margin: 0;
    border-radius: 0px;
}

.profile-footer {
    display: inline-block;
    width: 100%;
}

.profile-footer .button:first-child:after {
    content: "";
    position: absolute;
    height: 36px;
    width: 2px;
    background-color: #fff;
    top: 0;
    right: 0;
 }
	
 .label {
    flex: 0 0 140px;
 }

 .col {
    padding:22% 15% 22% 15%;
 }
 
 p {
    color:gray;
 }

.reset-icon {
    font-size:4.2em;color:gray;
}

}
