
page-models {

 ion-badge {
     margin-left: 5px;
 }

 ion-fab {
    bottom: 56px !important;
 }

 .parent-levels {
 	ion-label {
    	overflow: scroll;
 	}
 }

 .segment .segment-button {
 	opacity:1;
 	font-size:1em;
 	color:#505050;
 	background:#f1f1f1;
    direction: rtl;
 }
 
 .segment-ios-primary .segment-button {
    border:0;
 }

}


